doctype html
html
  head
      title eLibrary
      link(href='../bower/bootstrap-css/css/bootstrap.min.css', rel='stylesheet', type='text/css')
      link(href='/public/site.css', rel='stylesheet', type='text/css')
      link(href='/public/favicon.ico',rel='icon')
      script(src='../bower/angularjs/angular.min.js')
      script(src='../bower/jquery/dist/jquery.min.js')
      script(src='../bower/fetch/fetch.js')
      script(src='/public/App.js') 
      script(src='/public/Edit.js') 
  body(ng-app='libraryApp',ng-controller="editController")
    include ../client/navbar.html
    .container
      .form-group
        form(method='post', action='/editResults',name='editForm', ng-submit="submit()",novalidate=true)
          table.table
            tr
              td.labelArea Title *
              td
                input#title.form-control(type='text', name='title',required=true,value=pageData.title,ng-bind='title')
            tr
              td.labelArea ISBN *
              td
                input#ISBN.form-control(type='text', name='ISBN',disabled=true,value=pageData.ISBN,ng-bind='ISBN')
            tr
              td.labelArea Author *
              td
                input.form-control(type='text',name='author',required=true,value=pageData.author,ng-bind='author')
            tr
              td.labelArea Cover Image 
              td
                input.form-control(type='text',name='Cover image',placeholder="Paste the image's URL here",value=pageData['Cover image'])
            tr
              td.labelArea Publisher
              td
                input.form-control(type='text',name='publisher',value=pageData.publisher)
            tr
              td.labelArea Year
              td
                input.form-control(type='text',name='year', value = pageData.year)
            
          #buttonArea
            button.btn.btn-primary.form-control(type='submit',ng-disabled="addNewForm.$invalid") UPDATE
            //- form(action='/delete',method='DELETE')
            //-   input(type='text',hidden=true,name=)
            input.btn.btn-danger.form-control(type='button',value='DELETE',id='deleteBtn') 
            button#cancelBtn.btn.form-control(ng-click="cancelBtn_click()") CANCEL
      .row
        #deleteFailed(hidden=true)
          p DELETION UNSUCCESSFUL,&nbsp;
            a(href='/') GO BACK&nbsp;
            span ,or&nbsp; 
              a(href='mailto:abc@abc.com?subject=Delete this book pleas') Contact the Adminstrator